In [1]:
print("Hola mundo!!")

Hola mundo!!

In [44]:
##EJERCICIO 1
#Realiza una variable con tu matricula y realiza una secuencia de 
#imprimir con tu nombre y tu matricula concatenados
a=1823340
b= "MAGALY_RIVERA_VALDEZ"

print(a, b)

1823340 MAGALY_RIVERA_VALDEZ

In [45]:
##EJERCICIO 2
#Pidiendo el input del usuario pide dos números y crea una pequeña
#calculadora con los operadores básicos de suma, resta, 
#multiplicación, división, y exponente.
print("Bienvenido a cálculos básicos, al momento de introducir dos numeros, automaticamente se darán sus operaciones basicas de cada uno :)")
a=int(input("Favor de introducir un número = "))
b=int(input("Introduce otro número = "))
print("Para reafirmar, te mostraremos los numeros introducidos -> \n num1 = %d y num2 = %d "%(a,b))
c= a+b
d= a-b
e= a/b
f= a**2
g= b**2
print("La suma es = %d\nLa resta = %d\nLa división = %f\nElevacion al cuadrado del primer numero = %d\nElevacion al cuadrado del segundo numero = %d"%(c,d,e,f,g))

Bienvenido a cálculos básicos, al momento de introducir dos numeros, automaticamente se darán sus operaciones basicas de cada uno :)
Favor de introducir un número = 6
Introduce otro número = 3
Para reafirmar, te mostraremos los numeros introducidos ->
 num1 = 6 y num2 = 3
La suma es = 9
La resta = 3
La división = 2.000000
Elevacion al cuadrado del primer numero = 36
Elevacion al cuadrado del segundo numero = 9

In [21]:
##EJERCICIO 3
#Con loop while o for, realiza una lista de 10 numeros multiplos de 3,
#y después realiza una función de loop que sume todos los números dentro del arreglo.

import numpy as np 
lista = list()
sum=0
for i in range (1,11):
    mult=i*3
    lista.append(mult)
    print(mult)
    suma=suma+mult
print("La Suma es = ",suma)

3
6
9
12
15
18
21
24
27
30
La Suma es =  337

In [22]:
##EJERCICIO 4
#Con una función de if else, revisar si un número es par o es impar.
#Con una función de if else, revisar si un número es primo o no.
c = 1
a = int(input("Introduce un número:" ))
if a %2 == 0:
            print("El número es par")
else:
            print("El número es impar")
###---------------------------------------------------------
b = int(input("Introduce otro número:" ))
if b < 1:
    print("Error")
elif b == 2:
        print("El número es primo")
else:
    for i in range(2, b):
        if b % i == 0:
            c = 0
if c == 0:
    print("El número no es primo")
else:
    print("El número es primo")

Introduce un número:5
El número es impar
Introduce otro número:4
El número no es primo

In [41]:
##EJERCICIO 5
#Utilizando diferentes clases en python, crea una calculadora con los operadores 
#básicos de suma, resta, multiplicación, división, y exponente.
print("Bienvenida a la calculadora basica digital, ")
a=int(input("Favor de introducir un número = "))
b=int(input("Introduce otro número = "))
print("Para reafirmar, te mostraremos los numeros introducidos -> \n num1 = %d y num2 = %d "%(a,b))
opc=(int(input("Ahora, favor de introducir la operación a realizar = \n1.-Suma\n2.-Resta\n3.-Division\n4.-Multiplicacion\n5.-Número 1 al cuadrado\n6.-Número 2 al cuadrado")))
s= a+b
r= a-b
d= a/b
m= a*b
c= a**2
c2= b**2 
if opc==1:
    print("La suma es:",s)
elif opc==2:
    print("La resta es:",r)  
elif opc==3:
    print("La división es:",d)
elif opc==4:
    print("El producto es:",m)
elif opc==5:
    print("El primer número elevado al cuadrado es:",c)
elif opc==6:
    print("El segundo número elevado al cuadrado es:",c2)
else:
    print("No existe esa opcion,lo lamento,favor de intentar de nuevo")

Bienvenida a la calculadora basica digital,
Favor de introducir un número = 6
Introduce otro número = 3
Para reafirmar, te mostraremos los numeros introducidos ->
 num1 = 6 y num2 = 3
Ahora, favor de introducir la operación a realizar =
1.-Suma
2.-Resta
3.-Division
4.-Multiplicacion
5.-Número 1 al cuadrado
6.-Número 2 al cuadrado6
El segundo número elevado al cuadrado es: 9

In [43]:
##TUPLAS
#Crear una variable flotante, integer, 
#boleana y compleja e imprimir el tipo de variable que es.
a = int(6)
b = float(4.5)
c = bool(55)
d = 7 + 5j
print("La variabla a:",a, " es", type(a))
print("La variabla b:",b, " es", type(b))
print("La variabla c:", c, " es", type(c))
print("La variabla d:",d, " es", type(d))

La variabla a: 6  es <class 'int'>
La variabla b: 4.5  es <class 'float'>
La variabla c: True  es <class 'bool'>
La variabla d: (7+5j)  es <class 'complex'>

In [47]:
##TUPLA2
#Crear una tupla con 
#valores enteros imprimir el primer y ultimo valor
tupla=(5,7,2)
tupla[0],tupla[2]

(5, 2)

In [49]:
##TUPLA3
##Añadir 3 valores de string a la tupla.
tupla=tupla,"Me","Gustan","Los Gatos"
tupla

(((5, 7, 2), 'Me', 'Gustan', 'Gatos'), 'Me', 'Gustan', 'Los Gatos')

In [50]:
##TUPLA4
#Verificar si una variable existe dentro de la tupla.
print(tupla.index("Gatos"))
print(tupla.index(7))

ValueError: tuple.index(x): x not in tuple

In [51]:
##LISTAS
#Crear una lista con 40 elementos aleatorios enteros.
import random as r
lista = range(0,100)
lista = r.sample(lista, k = 40)
lista

[77,
 71,
 78,
 56,
 66,
 36,
 10,
 14,
 37,
 25,
 96,
 15,
 72,
 62,
 85,
 70,
 75,
 0,
 84,
 2,
 28,
 19,
 94,
 42,
 46,
 52,
 4,
 53,
 50,
 55,
 58,
 38,
 60,
 32,
 33,
 34,
 88,
 13,
 49,
 82]

In [52]:
##LISTAS2
#Con una funcion (def) crear dos listas nuevas a partir de la lista 
#creada por numeros aleatorios, en la cual en una esten los elementos 
#pares, y en la otra los elementos impares.
pares = []
impares = []
for i in range(len(lista)):
        lista[i]
        if lista[i] %2 == 0:
            pares.append(lista[i])
        else:
            impares.append(lista[i])

In [53]:
##LISTAS3
#Crear dos variables con la longitud de ambas listas nuevas e 
#imprimir las variables.
pares

[78,
 56,
 66,
 36,
 10,
 14,
 96,
 72,
 62,
 70,
 0,
 84,
 2,
 28,
 94,
 42,
 46,
 52,
 4,
 50,
 58,
 38,
 60,
 32,
 34,
 88,
 82]

In [54]:
##LISTAS3
#Crear dos variables con la longitud de ambas listas nuevas e 
#imprimir las variables.
impares

[77, 71, 37, 25, 15, 85, 75, 19, 53, 55, 33, 13, 49]

In [55]:
##LISTAS4
#Ordenar los elementos de la lista par de mayor a menor, 
#y los de la lista impar de menor a mayor.
lonpar = len(pares)
lonimpar = len(impares)
print("El total de números pares son:",lonpar)
print("El total de números impares son:", lonimpar)

El total de números pares son: 27
El total de números impares son: 13

In [56]:
##LISTAS5
imparesord = sorted(impares)
imparesord

[13, 15, 19, 25, 33, 37, 49, 53, 55, 71, 75, 77, 85]

In [57]:
##LISTAS5.1
paresord = sorted(pares, reverse = True)
paresord

[96,
 94,
 88,
 84,
 82,
 78,
 72,
 70,
 66,
 62,
 60,
 58,
 56,
 52,
 50,
 46,
 42,
 38,
 36,
 34,
 32,
 28,
 14,
 10,
 4,
 2,
 0]

In [58]:
#LISTAS5.2
lista.append(5)
lista.extend([105])
lista.count(105)

1

In [59]:
#LISTAS5.3
lista.index(105)

41

In [60]:
#LISTAS5.4
lista

[77,
 71,
 78,
 56,
 66,
 36,
 10,
 14,
 37,
 25,
 96,
 15,
 72,
 62,
 85,
 70,
 75,
 0,
 84,
 2,
 28,
 19,
 94,
 42,
 46,
 52,
 4,
 53,
 50,
 55,
 58,
 38,
 60,
 32,
 33,
 34,
 88,
 13,
 49,
 82,
 5,
 105]

In [61]:
##DICCIONARIOS
#Crear un diccionario de 6 personas que conozcas con 
#su primer nombre y su edad.
diccionario = {'Nombres' : ['Ricardo','Isaira','Blanca','Jose','Omar', 'Armando'],'Edades' : [21, 15, 48, 48, 24, 32]}
diccionario

{'Nombres': ['Ricardo', 'Isaira', 'Blanca', 'Jose', 'Omar', 'Armando'],
 'Edades': [21, 15, 48, 48, 24, 32]}

In [62]:
##DICCIONARIOS.2
#Crear una lista con los valores de la edad 
#y reacomodar la lista de menor a mayor valor.
lsted = diccionario.get('Edades')
lsted.sort()
print ("Las edades de menor  a mayor son",lsted)

Las edades de menor  a mayor son [15, 21, 24, 32, 48, 48]

In [63]:
##DICCIONARIOS.3
#Usando el diccionario y un loop, imprimir solo los nombres.
for i in range(len(lsted)):
    print (diccionario['Nombres'][i])

Ricardo
Isaira
Blanca
Jose
Omar
Armando

In [93]:
##DICCIONARIOS.4
#Añadir dos personas nuevas a tu diccionario, incluyendo edad.
#Como dentro de nuestro diccionario hay listas, hay que actualizarlo de manera completa
dicup = {'Nombres' : ['Ricardo','Isaira','Blanca','Jose','Omar', 'Armando','Felicitas','Amalia'],'Edades' : [21, 15, 48, 48, 24, 32,59,53]}
diccionario.update(dicup)
diccionario

{'Nombres': ['Ricardo',
  'Isaira',
  'Blanca',
  'Jose',
  'Omar',
  'Armando',
  'Felicitas',
  'Amalia'],
 'Edades': [21, 15, 48, 48, 24, 32, 59, 53]}

In [92]:
##SETS
#Crea un set con 100 numeros aleatorios enteros del 1 al 25.
settest = set()
for i in range(0,99):
    settest.add(r.randint(1,25))

In [85]:
type(settest)

set

In [84]:
settest

{1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

In [94]:
##SETS.2
#Comprueba la longitud de tu set.
print("El set es de longitud:",len(settest))

El set es de longitud: 25

In [95]:
##SETES.3
#Crea una lista de 5 numeros aleatorios del 1 al 10 y
#comprueba si cada valor aparece en el set inicial.
for i in range(0,9):
    a = r.randint(0,100)
    print("¿El número aleatorio", a, "se encuentra en el set?")
    print(a in settest)

¿El número aleatorio 60 se encuentra en el set?
False
¿El número aleatorio 47 se encuentra en el set?
False
¿El número aleatorio 55 se encuentra en el set?
False
¿El número aleatorio 49 se encuentra en el set?
False
¿El número aleatorio 81 se encuentra en el set?
False
¿El número aleatorio 62 se encuentra en el set?
False
¿El número aleatorio 61 se encuentra en el set?
False
¿El número aleatorio 21 se encuentra en el set?
True
¿El número aleatorio 26 se encuentra en el set?
False